.content-header {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding-top: 40px;
    
}

.refresh-button {
    background-color:  #2f884d;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.refresh-button:active {
    box-shadow: 1px 1px 16px 0px  #2f884d;;
}

.refresh-button span {
    line-height: 1.3;
}